* {
  box-sizing: border-box;
}
body {
  border: 5px solid turquoise;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 0;
}
body > div {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation__x {
  position: relative;
  left: 40px;
  scale: 2;
}
.navigation__text {
  position: relative;
  left: 130px;
}
